<html>
    
 <head>
        <title>
            Game of Thrones - Cersei's Adventure
        </title>
        <style>
            form {
                background-color: lightblue;
                font-family: 'Roboto', sans-serif;
                font-size: 30px;

            }
            
            h1 {
                background-color: lightgreen;
                font-family: 'Roboto', sans-serif;
                font-size: 40px;
            }
            
            p {
                background-color: lightgrey;
                font-family: 'Slabo 27px', serif;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
    </head>
    <body>
        <%= yield %>
    </body>
</html>

</html>